/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container{
	width:100%;
}
nav{
display: inline-flex;
justify-content: space-evenly;
width: 800px;
align-content: center;
margin-left: 300px;
margin-top: 25px;
}

.section2-1{
	display: inline-flex;
	justify-content: center;
	
	margin-top: 25px;
	width: 800px;
	margin-left: 400px;
	margin-bottom:25px;
}
.section2-2{
	display: inline-flex;	
	width:800px;
	margin-left: 400px;
}
.logo{
display: inline-flex;
margin-left: 1050px;


}
.button{
	display: inline-flexbox;
	margin-left: 600px;
	font-size: 45px;
	padding-top:100px;
}
.middle-img{
	justify-content: center;
	margin-left: 200px;
	margin-bottom:25px
}
.header-img{
	margin-left: 970px;
	z-index: 10000000px;
	
}
.buttonimg{
	display: flex;
	flex-direction: row;
}
footer{
	margin-bottom: 100px;
	margin-top: 50px;
	margin-left: 400px;
}
.maincontent{
border-top: 2px solid black;
border-bottom:2px solid black;
}
/*h2{
	
}*/

br{
	margin-left:100px;
	width: 100px;
}
h3{
	margin-left: 300px;
}